.expander {
    border-top: 4px solid lime;
    
    position: relative;
    transition: 0.35s ease-in;
    transition-property: height, visibility;

    &.exited {
        display: none;
    }

    &.entering, &.exiting {
        height: 0;
        overflow: hidden;
    }

    &.entered {
        display: block;
    }
}